body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img
{
display: block;
margin: 0 auto;
}
nav a {
  background: grey;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
figcaption{
  text-align: center;
  font-size: .9rem;
}
p#featured-property{
text-align: center;
width: 800px;
}
#details{
  display: block;

}
section div{
  float: left;
  background-color: red;
  width: 25%;

}
